.top-menu {
}

.dark {
    background-color: rgba(27, 28, 29, 1);
}

.top-menu.filter {
    padding-right: 0px;
    padding-top: 0px; 
    padding-bottom: 0px; 
    .body {
        max-height: 200px;
        overflow-y: scroll;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}