.manga-segment.ui.segment:first-child {
    margin-top: 1rem !important; 
}

.manga-segment {
    margin-left: 10px !important;
    background-color: gray !important;
}

.manga-card {
    background-color: gray !important;
    box-shadow: 0 1px 3px 0 gray, 0 0 0 1px gray !important;
}

.home {
    text-align: left;
    padding: 5px;

    .heading-content {
        margin-top: 23px;
    }
}