.manga-segment.ui.segment:first-child {
    margin-top: 1rem !important; 
}

.manga-segment {
    margin-left: 10px !important;
    background-color: gray !important;
}

#landing {
    h4 {
        text-align: left;
        font-size: 23px;
    }

    .recent {
        margin-top: 20px;
    }

    .recommend {
        margin-top: 20px;
    }
}