h1 {
    color: white;
}

.manga-banner {
    text-align: center;
    
    .manga-image {
        background-color: blue;
        width: 40%;
        height: 300px;
    }
}

.overview {
    text-align: left;
}