h1 {
    color: white;
}

.card {
    margin-left: 10%;
}

.overview {
    text-align: left;

    .card-content {
        padding-top: 0;
    }

    .card-image {
        img {
            height: 600px;
        }
    }
}