.sidenav {
    background-color: black;

    li > * {
        color: white !important;

        &:not(.subheader) {
            cursor: pointer;
            &:hover {
                background-color: rgba($color: #37474f , $alpha: 0.9);
            }
        }
    }

    .subheader{
        background-color: gray;
    }
}