.manga-table {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 80%;
    margin: auto;

    .card-container {
        width: 200px;
        margin-top: 10px;
        margin-left: 15px;

        .card-image {
            .responsive-img {
                width: 200px;
                height: 300px;
            }
        }

        .content {
            white-space: normal;
            word-wrap: break-word;
            font-size: 17px;
            height: 67px;
        }
    }
}